# Python Install

C:\Users\Your Name>python3 --version

In [13]:
print("Hello, World!")

Hello, World!

## Python Quickstart

C:\Users\Your Name>python3 app.py

# Invoking the Interpreter/ Python Command Line

C:\Users\Your Name>python3

$ python3.12  
Python 3.12 (default, April 4 2022, 09:25:04)   
[GCC 10.2.0] on linux   
Type "help", "copyright", "credits" or "license" for more information. >>>'

>>> print("Hello, World!")

## Using Python as a Calculator

>>> 2 + 2
4
>>> 50 - 5*6 20
>>> (50 - 5*6) / 4
5.0
>>> 8 / 5 # division always returns a floating point number 1.6

In [ ]:
>>> width = 20
>>> height = 5 * 9 
>>> width * height 
900

In [ ]:
>>> n # try to access an undefined variable Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'n' is not defined

>>> 4 * 3.75 - 1 14.0

In [ ]:
>>> tax = 12.5 / 100 
>>> price = 100.50 
>>> price * tax 
12.5625
>>> price + _ 113.0625
>>> round(_, 2) 
113.06

## Python variables
In Python, variables are created when you assign a value to it:

In [27]:
x = 5
y = "Hello, World!"

In [28]:
print(x)
print(y)

5
Hello, World!

In [29]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### Get the Type

You can get the data type of a variable with the type() function.

In [30]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

If you want to specify the data type of a variable, this can be done with casting.

In [19]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Single or Double Quotes?

In [33]:
x = "John" # is the same as
x = 'John'

### Variable names are case-sensitive.

In [35]:
a = 4
A = "Sally"
#A will not overwrite a

### Illegal variable names:

In [36]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

### Multi Words Variable Names
Camel Case   
Pascal Case   
Snake Case

In [39]:
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

### Assign Multiple Values

In [40]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [41]:
print(x + y + z)

OrangeBananaCherry

#### But, In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [42]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
x = 5
y = "John"
print(x, y)

5 John